{
    "kaguya": [
        [
            "smile",
            "https://i.imgur.com/FdRNcrf.png"
        ],
        [
            "no",
            "http://i.imgur.com/h8Rg4QH.png"
        ],
        [
            "take advantage",
            "http://i.imgur.com/vWys2t5.png"
        ],
        [
            "how lewd",
            "http://i.imgur.com/oQXUC9B.png"
        ]
    ],
    "ConFuzzled": "http://i0.kym-cdn.com/photos/images/newsfeed/001/172/010/6e4.jpg",
    "rip": "*embed title=R.I.P. | description=Press F to pay respects |",
    "tableflip": [
        [
            "(\u256f\u00b0\u25a1\u00b0\uff09\u256f\ufe35",
            "\u253b\u2501\u253b"
        ]
    ],
    "[[(\u256f\u00b0\u25a1\u00b0\uff09\u256f\ufe35": "\u253b\u2501\u253b]]",
    "Drums": "https://images.discordapp.net/attachments/327270607215656961/327607986606440458/drums.gif",
    "Traps": "*embed title=Traps are Gay | description=just because they dress like a chick doesn't mean they are a chick they have a dick **AND THAT'S GAY** | color=EE82EE",
    "JapanToParents": "*embed title=What anime sounds like to adults | description=Jugemu Jugemu Go-K\u014d-no-Surikire Kaijari-suigyo no Suigy\u014d-matsu Unrai-matsu F\u016brai-matsu K\u016b-Neru Tokoro ni Sumu Tokoro Yaburak\u014dji no Burak\u014dji Paipo Paipo Paipo no Sh\u016bringan Sh\u016bringan no G\u016brindai G\u016brindai no Ponpokopii no Ponpokon\u0101 no Ch\u014dky\u016bmei no Ch\u014dsuke | color=ADD8E6",
    "Memes": [
        [
            "KillMeNow",
            "http://i.imgur.com/j0Dkv2Z.png"
        ],
        [
            "yTho",
            "http://i.imgur.com/2SBC1Oo.jpg"
        ],
        [
            "FatCat",
            "http://i.imgur.com/vpu8bX3.png"
        ]
    ],
    "Pung": "<@135788476841852929>",
    "FBI_Inject": "*embed title=How to inject FBI | description=How to Inject FBI to H&S\n\u2022Boot with start to launch the Luma3DS chainloader menu\n\u2022Launch GodMode9\n\u2022Navigate to FBI.cia\n\u2022Select it, then select \u201cCIA image options\u2026\u201d, then select \u201cMount image to drive\u201d\n\u2022Hit A on the .app, then select \u201cNCCH image options\u201d, then select \u201cInject to H&S\u201d\n\u2022Unlock SysNAND (lvl1) writing | color=38B0DE",
    "mod": [
        [
            "\ud83d\udc51king",
            "\ud83d\udc51"
        ]
    ],
    "Money": "https://i.imgflip.com/1mw06n.jpg",
    "git": "https://github.com/appu1232",
    "Lewd": [
        [
            "*embed",
            "https://images-ext-1.discordapp.net/external/eUoIP41PQH44Yk-AOum0u0J_weeVbpSGi-pe0D3gbGE/http/i0.kym-cdn.com/entries/icons/original/000/017/225/zAp2LzJ.jpg"
        ]
    ],
    "hakomari": "https://myanimelist.net/manga/55215/Utsuro_no_Hako_to_Zero_no_Maria",
    "boy": "https://cdn.discordapp.com/attachments/325791037987618816/326280791757684736/Oz2ZwzCpOKw.jpg",
    "YouTube": "*embed title=YouTube Channel | description=[Enjoy my videos!](https://www.youtube.com/channel/UC2m72hL-08HWfbnxGUV4bsw) |color=3AB35E |",
    "Twitter": "*embed title=Twitter Account! | description=Be sure to follow! https://twitter.com/__ytlordxzeuzz | color=ADD8E6",
    "Woah": "https://i.ytimg.com/vi/Ou8f_Mkwz5U/maxresdefault.jpg",
    "Ship": "https://cdn.discordapp.com/attachments/314856589716750346/348204700685959169/unknown.png",
    "get good": "https://cdn.discordapp.com/attachments/240823952459431936/266807454506024961/lpLiH3n.png",
    "akari bully": "http://livedoor.4.blogimg.jp/netagazou_okiba/imgs/a/e/ae001952.gif",
    "triggered": "https://media.giphy.com/media/ZEVc9uplCUJFu/giphy.gif",
    "Shrug": "\u00af\\_(\u30c4)_/\u00af",
    "magikazam": "(\u2229 \u0361\u00b0 \u035c\u0296 \u0361\u00b0)\u2283\u2501\u2606\uff9f"
}
